# for v1 api support
TWITTER_USERNAME=myaccount
TWITTER_PASSWORD=MyPassword!!!
TWITTER_EMAIL=myemail@gmail.com

# for v2 api support
TWITTER_API_KEY=key
TWITTER_API_SECRET_KEY=secret
TWITTER_ACCESS_TOKEN=token
TWITTER_ACCESS_TOKEN_SECRET=tokensecret

# optional
PROXY_URL=           # HTTP(s) proxy for requests
